<div class="flex-container">
  <div class="flex-1 h-4rem bg-primary font-bold text-center p-4 border-round centered-form">
    <div class="search-bar">
    <input  type="text" pInputText [(ngModel)]="title" placeholder="Enter movie title" />
    <p-button icon="pi pi-search" (click)="searchMovies()" styleClass="p-button-text"></p-button>
  </div>
  </div>

  <div *ngIf="loading" class="loading-message" style="text-align: center">
    <p-progressSpinner ariaLabel="loading" />
  </div>

  <div *ngIf="movies.length > 0" class="cards-grid">
    <div *ngFor="let movie of movies" class="card" >
      <p-card [style]="{ width: '360px' }" (click)="navigateToDetails(movie.imdbID)">
        <img alt="poster" class="poster" src="{{ movie.Poster }}" />
        <div class="container">
          <p>{{ movie.Title }} ({{movie.Year}})</p>
        
        </div>

      </p-card>
    </div>
  </div>
</div>