
<div class="movie-card">
    <div class="poster-container">
      <img alt="poster" class="poster" [src]="details.Poster" />
    </div>
    <div NgIf="details" class="details-container">
      <h2 class="movie-title">{{ details.Title }}</h2>
      <div class="imdb-rating">
        <span class="imdb-logo">IMDb</span> {{ details.imdbRating }}/10
      </div>
      <p class="year">Year: {{ details.Year }}</p>
      <p class="plot">{{ details.Plot }}</p>
      <p class="genre">Genre: {{ details.Genre }}</p>
    </div>
  </div>